* {
    box-sizing: border-box; 
}

body {
    max-width: 1100px;
    margin: 0 auto;
}

.gallery {
    display: grid;
    margin: auto;
    width: 85%;
    grid-template-columns: repeat(auto-fit, minmax(200px, min-content));
    justify-content: center;
    grid-gap: 15px;
}

#searchDiv {
    display: flex;
    width: 60%;
    margin: 40px auto;
    justify-content: center;
}

#searchDiv input[type="search"] {
    margin: 15px auto;
    width: 85%;
    border: rgba(184, 186, 187, .5) 3px ridge;
    border-radius: .5em;
    padding: 8px;
}