.gallery {
    display: grid;
    margin: auto;
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

#searchDiv {
    width: 80%;
    margin: 0 auto;
}

#searchDiv input[type="search"] {
    margin: 15px auto;
    width: 75%;
    border: lightslategray 1px solid;
}