* {
    box-sizing: border-box; 
}

body {
    max-width: 1100px;
    margin: 0 auto;
}

.gallery {
    display: grid;
    margin: auto;
    width: 85%;
    grid-template-columns: repeat(auto-fit, minmax(200px, min-content));
    justify-content: center;
    grid-gap: 15px;
}

#searchDiv {
    display: block;
    width: 60%;
    margin: 0 auto;
}

#searchDiv input[type="search"] {
    margin: 15px auto;
    width: 75%;
    border: lightslategray 1px solid;
}